{{include file="public/_meta.html"}}
<title>友情链接 - 内容管理 - UEECMS</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 友情链接 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="cl pd-5 bg-1 bk-gray mt-20">
		<span class="l">
			<a href="javascript:;" onclick="del_all('{{url path='api/link/deleteAll'}}')" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
			<a href="javascript:;" onclick="pop_layer('添加友链','{{url path='admin/link/add'}}','800','400')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加友链</a>
		</span>
		<span class="r"></span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th><input type="checkbox" name="" value=""></th>
					<th>ID</th>
					<th>友链标题</th>
					<th>友链网址</th>
					<th>新窗口打开</th>
					<th>新增日期</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
			{{foreach $res.data as $val}}
				<tr class="text-c">
					<td><input type="checkbox" value="{{$val.id}}" name="id" class="dataid"></td>
					<td>{{$val.id}}</td>
					<td><a href="{{$val.url}}" target="_blank">{{$val.title}}</a></td>
					<td>{{$val.url}}</td>
					<td>{{if $val.target eq "1"}}是{{else}}否{{/if}}</td>
					<td>{{$val.create_time}}</td>
					<td class="f-14 td-manage">
						<a style="text-decoration:none" class="ml-5" onClick="pop_layer('友链编辑','{{url path='admin/link/update' params=['id'=>$val.id]}}')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a>
						<a style="text-decoration:none" class="ml-5" onClick="del_data(this,'{{$val.id}}','{{url path="api/link/delete"}}')" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
					</td>
				</tr>
			{{/foreach}}
			</tbody>
		</table>
	</div>
</div>
{{include file="public/_footer.html"}}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{{$smarty.const.STATIC}}/admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/admin/lib/kkpager/kkpager.min.js"></script>
<script type="text/javascript">
$(function () {
	//分页插件kkpager
	kkpager.generPageHtml({
		pno:'{{$res.pagination.currentpage}}',
		total:'{{$res.pagination.totalpage}}',
		totalRecords:'{{$res.pagination.totalcount}}',
		mode:'link',
		getLink : function(n){
			return '{{url path="admin/article/getList" params=["page"=>"'+n"]}};
		}
	});
});
</script> 
</body>
</html>