<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>公司简介-鹤川泵业（上海）有限公司</title>
	<meta name="keywords" content="公司简介" />
	<meta name="description" content="公司简介" />
<meta content="IE=7" http-equiv="X-UA-Compatible" />
<link rel="stylesheet" type="text/css" href="css/style.css"  />
<!--导航当前状态 JS-->
<script language="javascript" type="text/javascript"> 
	var nav= '2';
	var left= '1';
</script>
<!--导航当前状态 JS END-->
</head>
<body>
<div class="top">
    	<div class="top1">
        	<div class="w1100 clearfix">
                <div class="hyy fl">欢迎访问鹤川泵业（上海）有限公司官网！</div>
                <div class="dt fr"><a href="/contact.html">联系我们</a><span>/</span><a href="/order.html">在线留言</a><span>/</span><a href="/sitemap.xml">网站地图</a></div>
            </div>
        </div>
   	  	<div class="top2 w1100 clearfix">
        	<div class="logo fl"><a href="/"><img src="picture/logo.png" width="150" height="100"  alt="鹤川泵业（上海）有限公司" title="鹤川泵业（上海）有限公司"/></a></div>
            <div class="name fl">
            	<h1>鹤川泵业（上海）有限公司</h1>
                <h2>本公司主要经营：潜水排污泵,无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵</h2>
            </div>
            <div class="tact fr">
            	<p class="p1"></p>
 <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>  
            </div>
   	  	</div>
        <div class="nav">
        	<ul class="w1100 clearfix">
            	<li id="navId1"><a href="/">网站首页</a></li>
                <li id="navId2"><a href="/aboutus.html">关于鹤川</a></li>
                <li id="navId3"><a href="/products.html">鹤川产品</a></li>
                <li id="navId7"><a href="/case.html">鹤川案例</a></li>
                <li id="navId4"><a href="/news.html">鹤川资讯</a></li>
                <li id="navId6"><a href="/service.html">鹤川服务</a></li>
                <li id="navId5"><a href="/honor.html">鹤川资质</a></li>
                <li id="navId8"><a href="/contact.html">联系鹤川</a></li>
            </ul>
<script language="javascript" type="text/javascript">
try {
    document.getElementById("navId" + nav).className = "current";
}
catch (e) {}
</script>
        </div>
        <!--banner-->    
        <div class="banner">
            <ul class="banList">
                <li class="active"><a href=""><img src="picture/banner1.jpg" /></a></li>
                <li><a href=""><img src="picture/banner2.jpg" /></a></li>
                <li><a href=""><img src="picture/banner3.jpg" /></a></li>
            </ul>
            <div class="fomW">
                <div class="jsNav">
                    <a href="javascript:;" class="trigger current"></a>
                    <a href="javascript:;" class="trigger"></a>
                    <a href="javascript:;" class="trigger"></a>
                </div>
            </div>
        </div>
        <!--banner--> 
        <div class="sousuo w1100">
         <div class="gjc fl">热门产品：

            <a href="/productshow_56.html">AS潜水排污泵</a><span>|</span>     

            <a href="/productshow_55.html">ZW无堵塞自吸式排污泵</a><span>|</span>     

            <a href="/productshow_54.html">JYWQ自动搅匀排污泵</a><span>|</span>     
  
            
            </div>
            <div class="search fr clearfix">
                <form id="form1" name="form1" method="get" action="/products.html">
                  
                    <input class="search_txt in1"  name="tk" type="text" value="请输入产品名称" id="tk" onFocus="if (value =='请输入产品名称'){value =''}" onBlur="if (value ==''){value='请输入产品名称'}"/>
                    <h2><input class="loginsubmit in2" type="submit" name="button" id="button" value="" /></h2>
                </form>
            </div>
        </div>
    </div>
<div id="contant">
  <div class="list_box"> 
      <div class="lift_zuo cl">  
      <div class="n_pro_list">
            <div class="list" id="fontred">
            <p>关于鹤川</p>
                <ul>
                    <li><a href="/aboutus_1.html" id="leftId1">公司简介</a></li>
                    <li><a href="/aboutus_2.html" id="leftId2">企业文化</a></li>
                    <li><a href="/aboutus_3.html" id="leftId3">公司发展</a></li>
                    <li><a href="/honor.html" id="leftId8">鹤川资质</a></li>
                </ul>
<script language="javascript" type="text/javascript">
try {
    document.getElementById("leftId" + left).className = "font_red";
}
catch (e) {}
</script>
            </div>
            
             <div class="list1" id="fontred">
            <p>产品推荐</p>
                <ul>
   
                   <li>
                   <div class="proimg_bk">
                   <a href="/productshow_56.html" class="proimg"><img src="picture/s_636371959519295874.jpg"/></a>
                   </div>
                   <a href="/productshow_56.html"><span>AS潜水排污泵</span></a>
                   </li>
   
                   <li>
                   <div class="proimg_bk">
                   <a href="/productshow_55.html" class="proimg"><img src="picture/s_636377792133195980.jpg"/></a>
                   </div>
                   <a href="/productshow_55.html"><span>ZW无堵塞自吸式排污泵</span></a>
                   </li>
            
                    
                </ul>
            </div>
        </div>
        </div> 
    <div class="box_right">
      <div class="box_bt">
        <div class="box_right_title">公司简介</div>
        <div class="bt_text_y"><span>您现在所在位置：<a href='/'>首页</a> > <a href='/aboutus.html'>关于鹤川</a> > 公司简介</span></div>
      </div>
      <div class="box_right_con">
<p class="p0" style="margin-bottom: 0pt; text-align: left; margin-top: 0pt">
	<span style="color: #000000"><span style="font-family: 微软雅黑"><span style="font-size: 10.5pt">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><span style="color: #000000"><span style="font-family: 微软雅黑"><span style="font-size: 10.5pt">鹤川泵业（上海）有限公司是源于韩国鹤泵会社技术，由香港远洋控股集团有限公司董事会在国内投资的流体领域设备厂商。自成立以来，产品不断完善和优化。凭借五十多年经验和技术，先后推出了污水提升设备、隔油设备、供水设备系列和清水泵、化工泵、污水泵、阀门系列。产品具有进口的品质和国内的价位，广泛应用于石油、化工、电站、化纤、城建、铁路、军工科研、制药、环保、冶金、建筑给排水工程、消防系统、造纸、矿山、自来水、农田水利、化肥等多种行业。<br />
	&nbsp;&nbsp;&nbsp;&nbsp; 在对产品进行升级和研发的同时，鹤川泵业（上海）有限公司更是把&ldquo;让每一个项目（客户）都成为鹤川产品的样板工程&rdquo;作为服务目 标。公司在全球建立了最为健全的营销服务体系：10个服务部、30个服务片区、65个服务网点。在软件选型、产品巡查等各个服务环节中， 由服务部经理、服务工程师等6种级别的专业人员提供主动、快速、全面和细致的服务。此外，还建立了客户档案、24小时的快速反应等制度。 力求让每一个项目（客户）都成立鹤川产品的样板工程。<br />
	&nbsp;&nbsp;&nbsp; 企业在&ldquo;产品决定前途、质量决定命运、效率决定兴衰、素质决定成败&rdquo;的方针指导下，不断开拓进取、创新发展。企业以一流的管理、一流的产品、一流的服务赢得了国内外广大用户的信赖和好评。<br />
	　　 鹤川人以&ldquo;一切为了顾客满意&rdquo;为宗旨，继往开来，与时俱进。</span></span></span></p>
<p class="p0" style="margin-bottom: 0pt; text-align: left; margin-top: 0pt">
	<span style="font-size: 10.5pt; font-family: 'Times New Roman'; mso-spacerun: 'yes'"><img alt="" src="picture/636360960395410066.png" style="height: 626px; width: 1906px" /><br />
	&nbsp;</span></p>
 </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
   <div class="bott">
    	<div class="w1100">
   <div class="bot_nav">
            	<a href="/">鹤川首页</a><span>|</span>
                <a href="/aboutus.html">关于鹤川</a><span>|</span>
                <a href="/products.html">鹤川产品</a><span>|</span>
                <a href="/case.html">鹤川案例</a><span>|</span>
                <a href="/news.html">鹤川资讯</a><span>|</span>
                <a href="/service.html">鹤川服务</a><span>|</span>
                <a href="/honor.html">鹤川资质</a><span>|</span>
                <a href="/contact.html">联系鹤川</a>
                
            </div>
            <div class="bot3 clearfix">
            	<div class="logo fl"><a href="/"><img alt="" src="picture/foot_logo.png" /></a></div>
           	  	<div class="tact fl">
                	<p>联系电话：021-67229979</p>
                    <p>邮箱：<a href="mailto:2293193045@qq.com">2293193045@qq.com</a> </p>
                    <p>地址：上海市金山区山阳工业区山富东路365号</p>
                    <p>Copyright ? 2017 鹤川泵业（上海）有限公司 All Reserved版权所有</p>
                    <p>备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow";>沪ICP备15000268号</a>  <a href="/sitemap.xml" target="_blank">网站地图</a>  <a href="/admin/Login.aspx" target="_blank" rel="nofollow">管理登陆</a> 
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1266396093'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1266396093%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</p>
                </div>
              	<div class="ewm fr"><img  src="picture/ewm.jpg" width="114" height="112" /> 
<p>
	&nbsp;<span style="display:none;"></span>
</p></div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>  
<script type="text/javascript" src="js/jquery.banner.js"></script>
<SCRIPT type="text/javascript" src="js/base.js" ></SCRIPT><!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/lib.js"></SCRIPT><!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/163css.js" ></SCRIPT><!--放大功能JS-->
<script type="text/javascript"> 
$(function(){
	$(".banner").swBanner();
});
</script>
<script type="text/javascript" src="js/jquery.scrollshow.js"></script> 
			<SCRIPT type=text/javascript>
jQuery(document).ready(function() {
	jQuery("#h_customer_slide").scrollShow("right",{step:1,time:5000});	//滚动图片数和间隔时间	
});
</SCRIPT>
<script type="text/javascript">
$(document).ready(function(e) {
    var sitename=$(".bt_text_y span a:eq(1)").html();
	
	$("#nav11 li a").each(function() {
        var menuname=$(this).html();
		if(sitename==menuname){
			$(this).addClass("hover");
			}
    });
});

$(document).ready(function(e){
	
	var nowname=$('.bt_text_y span a:eq(2)').html();
	$("#fontred a").each(function() {
        var menuname=$(this).html();
		if(nowname==menuname){
			$(this).addClass("font_red");
		}
    });
})
</script>

<script type="text/javascript" src="js/pt_js.js"></script>  





<div class="sidebar_qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2293193045&amp;site=qq&amp;menu=yes" target="_blank"><img alt="" src="picture/qq.png"></a></div>
</body>
</html>
