{{include file="pc/public/_meta.html"}}
{{include file="pc/public/_header.html"}}
<div id="contant">
  <div class="list_box">
      {{include file="pc/sidebar.html"}}
    <div class="list_right">
      <div class="box_bt">
        <div class="box_right_title">鹤川资讯</div>
        <div class="bt_text_y"><span>{{$crumbstr}}</span></div>
      </div>
      <div class="pro_photo">
        <div class="info_news">
          <ul>
              {{foreach $list.data as $v}}
            <li> <a href="{{url path='index/article/index' params=['id'=>$v.id]}}" title="{{$v.title}}"> <span>{{$v.create_time}}</span>{{$v.title}}</a> </li>
              {{/foreach}}
          </ul>
        </div>
      </div>
      <div class="cl"></div>
      <div class="page"><a>首页</a>　<a>上一页</a>　<a href='/News_p2.html'>下一页</a>　<a href='/News_p2.html'>尾页</a>　共21记录，当前1/2页 每页15条　跳转：<input type="text" id="EnterGoFigure" style="text-align:center; border:1px solid #ccc; width:30px;" class="EnterGoFigure" value="1"/>　<button style="background:#fff; border:1px solid #ccc;" class="InputJumpEvent" onclick='InputJumpEvent(2,1);function InputJumpEvent(){var e=document.getElementById("EnterGoFigure"),v=e.value;if(v>arguments[0]){alert("跳转数不能超出总页数！");}else if(v<=0){alert("跳转数必须大于 0 ！");}else if(v!=arguments[1]){top.location.href="/News_p"+v+".html"}else{};}'>GO</button></div>
    </div>
  </div>
</div>
{{include file="pc/public/_footer.html"}}