{{include file="pc/public/_meta.html"}}
{{include file="pc/public/_header.html"}}
<div id="contant">
  <div class="list_box">
      {{include file="pc/sidebar.html"}}
    <div class="list_right">
      <div class="box_bt">
        <div class="box_right_title">鹤川资讯</div>
        <div class="bt_text_y"><span>{{$crumbstr}}</span></div>
      </div>
      <div class="pro_photo">
        <div class="info_news">
          <ul>
              {{foreach $list.data as $v}}
            <li> <a href="{{url path='index/article/index' params=['id'=>$v.id]}}" title="{{$v.title}}"> <span>{{$v.create_time}}</span>{{$v.title}}</a> </li>
              {{/foreach}}
          </ul>
        </div>
      </div>
      <div class="cl"></div>
      <div class="page">{{$pagestr}}
      </div>
    </div>
  </div>
</div>
{{include file="pc/public/_footer.html"}}