<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="baidu-site-verification" content="0R9Atyzg1C" />
    <title>无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵-鹤川泵业（上海）有限公司</title>
    <meta name="keywords" content="无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵,不锈钢自吸式离心泵,不锈钢卧式管道泵" />
    <meta name="description" content="鹤川泵业（上海）有限公司(www.copump.com)专业生产(供应)销售无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵,不锈钢自吸式离心泵,不锈钢卧式管道泵系列产品，公司具有良好的市场信誉，专业的销售和技术服务团队，凭着经营无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵,不锈钢自吸式离心泵,不锈钢卧式管道泵系列产品多年经验，熟悉并了解供水设备系列产品市场行情，迎得了国内外厂商的一致好评，欢迎来电来涵洽谈交流！" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <!--导航当前状态 JS-->
    <script language="javascript" type="text/javascript">var nav = '1';</script>
    <!--导航当前状态 JS END-->
    <script type="text/javascript" src="js/jquery1.9.1.js"></script>
    <script type="text/javascript" src="js/dhls.js"></script>
</head>

<body>
<div class="top">
    <div class="top1">
        <div class="w1100 clearfix">
            <div class="hyy fl">欢迎访问鹤川泵业（上海）有限公司官网！</div>
            <div class="dt fr">
                <a href="/contact.html">联系我们</a>
                <span>/</span>
                <a href="/order.html">在线留言</a>
                <span>/</span>
                <a href="/sitemap.xml">网站地图</a></div>
        </div>
    </div>
    <div class="top2 w1100 clearfix">
        <div class="logo fl">
            <a href="/">
                <img src="picture/logo.png" width="150" height="100" alt="鹤川泵业（上海）有限公司" title="鹤川泵业（上海）有限公司" /></a>
        </div>
        <div class="name fl">
            <h1>鹤川泵业（上海）有限公司</h1>
            <h2>本公司主要经营：潜水排污泵,无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵</h2></div>
        <div class="tact fr">
            <p class="p1"></p>
            <script>(function() {
                var bp = document.createElement('script');
                var curProtocol = window.location.protocol.split(':')[0];
                if (curProtocol === 'https') {
                    bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
                } else {
                    bp.src = 'http://push.zhanzhang.baidu.com/push.js';
                }
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(bp, s);
            })();</script>
        </div>
    </div>
    <div class="nav">
        <ul class="w1100 clearfix">
            <li id="navId1">
                <a href="/">网站首页</a></li>
            <li id="navId2">
                <a href="/aboutus.html">关于鹤川</a></li>
            <li id="navId3">
                <a href="/products.html">鹤川产品</a></li>
            <li id="navId7">
                <a href="/case.html">鹤川案例</a></li>
            <li id="navId4">
                <a href="/news.html">鹤川资讯</a></li>
            <li id="navId6">
                <a href="/service.html">鹤川服务</a></li>
            <li id="navId5">
                <a href="/honor.html">鹤川资质</a></li>
            <li id="navId8">
                <a href="/contact.html">联系鹤川</a></li>
        </ul>
        <script language="javascript" type="text/javascript">try {
            document.getElementById("navId" + nav).className = "current";
        } catch(e) {}</script>
    </div>
    <!--banner start-->
    <div class="banner">
        <ul class="banList">
            <li class="active">
                <a href=""><img src="picture/banner1.jpg" /></a>
            </li>
            <li>
                <a href=""><img src="picture/banner2.jpg" /></a>
            </li>
            <li>
                <a href=""><img src="picture/banner3.jpg" /></a>
            </li>
        </ul>
        <div class="fomW">
            <div class="jsNav">
                <a href="javascript:;" class="trigger current"></a>
                <a href="javascript:;" class="trigger"></a>
                <a href="javascript:;" class="trigger"></a>
            </div>
        </div>
    </div>
    <!--banner end-->
</div>
<div class="con">

    <!--提出问题-->
    <div class="wenOuter">
        <div class="wenInner">
            <div class="tit"><h2>企业生产常出现的问题</h2><span>Enterprise production often problems</span><i></i></div>
            <ul>
                <li><span>01</span>生产排程不合理，<b>订单延误、漏单经常发生</b></li>
                <li><span>02</span>生产现场管理混乱，造成<b>人力资源和物料的浪费</b></li>
                <li><span>03</span><b>生产进度不透明，</b>给业务和跟单带来诸多不便</li>
                <li><span>04</span>不能及时了解产品不良率，<b>质量控制难度大</b></li>
                <li><span>05</span>仓储管理不规范，造成<b>材料积压过多，物料查找麻烦</b></li>
            </ul>
        </div>
    </div>

    <div class="whyOuter">
        <div class="whyInner">
            <div class="tit"><h2>为什么选择牛工厂</h2><span>Why choose us</span><i></i></div>
            <ul>
                <li class="w1"><a href="javascript:;"><i></i><b>网络下单，方便快捷</b>
                    <p>实现定制化MES系统产品网络下单，MES系统生产厂家直接面向客户，由客户自主选择配提升客户满意度。</p><em>+</em></a></li>
                <li class="w2"><a href="javascript:;"><i></i><b>高级排产，动态平衡</b>
                    <p>利用MES软件智能的计划排程算法，同时考虑物料和能力的限制， MES系统预测订单优先级，实现智能排产</p><em>+</em></a></li>
                <li class="w3"><a href="javascript:;"><i></i><b>生产过程，全程撑控</b>
                    <p>MES系统实时监控订单的生产进度、车间人员效率和产品质量，及时修正生产中出现的问题。</p><em>+</em></a></li>
                <li class="w4"><a href="javascript:;"><i></i><b>仓库管理，精准高效</b>
                    <p>MES系统把物料入库、出库、盘点方便精准，高效定位物料位置；MES系统提供生产线上物料和发生事件的全面追踪。</p><em>+</em></a></li>
                <li class="w5"><a href="javascript:;"><i></i><b>人员设备，高效协同</b>
                    <p>MES系统设备监控，记录设备状态与生产实时数据；安灯呼叫，MES系统优化车间管理，促进部门间合作。</p><em>+</em></a></li>
                <li class="w6"><a href="javascript:;"><i></i><b>产品追溯，直达源头</b>
                    <p>MES系统全程记录产品生命周期，实现物料批次、作业人员、设备工艺等追溯信息整合。</p><em>+</em></a></li>
                <li class="w7"><a href="javascript:;"><i></i><b>管理决策，数据说话</b>
                    <p>MES系统实现企业数据管理科学化，数据分析智能化以及信息查询快速及时。</p><em>+</em></a></li>
            </ul>
        </div>
    </div>

    <div class="case w1100">
        <div class="bt">
            <h2>鹤川案例</h2>
            <p>HECHUAN CASE</p>
        </div>
        <div class="dwy">本公司主要经营：立式离心泵,污水提升设备,污水自吸泵,立式管道泵</div>
        <div class="photo" id="h_customer_slide">
            <a href="javascript:void(0);" class="plus"></a>
            <div class="box">
                <ul class="pic clearfix">
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369358398637828.png" /></a>
                        </div>
                        <p>美的</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369358203786596.png" /></a>
                        </div>
                        <p>江南环保</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369358067062596.png" /></a>
                        </div>
                        <p>联邦制药</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369356983739748.png" /></a>
                        </div>
                        <p>北京热力</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369356811389380.png" /></a>
                        </div>
                        <p>格力</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369356666071300.png" /></a>
                        </div>
                        <p>华北制药</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369356377466468.png" /></a>
                        </div>
                        <p>哈药集团</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369355700252964.jpg" /></a>
                        </div>
                        <p>中国石化</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369355439305444.png" /></a>
                        </div>
                        <p>兖矿集团</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369355276330436.png" /></a>
                        </div>
                        <p>远达环保</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369354314418500.png" /></a>
                        </div>
                        <p>中国神华</p>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a class="proimg">
                                <img src="picture/s_636369354987413092.png" /></a>
                        </div>
                        <p>云天化</p>
                    </li>
                </ul>
            </div>
            <a href="javascript:void(0);" class="minus"></a>
        </div>
        <a href="/case.html" class="more" title="查看更多">查看更多+</a></div>
    <div class="service">
        <div class="w1100 clearfix">
            <div class="tact fl">
                <h2>全国热销服务热线</h2>
                <p>400-960-9610</p>
            </div>
            <div class="fw fr">
                <h2>鹤川服务
                    <span>HECHUAN SERVICE</span></h2>
                <div class="wz">
                    <p>公司在全国建立了最为健全的营销服务体系：</p>
                    <p>10个服务部、30个服务片区、65个服务网点。为客户提供完善的售前、售中、售后支持，让您买的放心、用的称心。</p>
                    <p>售前服务：</p>
                    <p>由销售顾问、技术工程师、销售经理等各级别的专业人员提供主动、快速、全面和细致的服务，包括产品选型、方案咨询、专业流体输送方案定制、个性化配套方案定制、工程方案定制等，想客户之所需，供客户之所需。</p>
                    <p>售中服务：</p>
                    <p>从合同签订到确认收货期间由专业服务人员跟踪推进，确保每一批货都能准时、保质保量交到客户手中。&nbsp;</p>
                    <p>售后服务：</p>
                    <p>售后服务体系具有以下内容：</p>
                    <p>&nbsp;&nbsp;&nbsp; 1、24小时400免费服务热线开通；</p>
                    <p>&nbsp;&nbsp;&nbsp; 2、专业工程师接电询答；1小时内答复；</p>
                    <p>&nbsp;&nbsp;&nbsp; 3、产品跟踪服务；</p>
                    <p>&nbsp;&nbsp;&nbsp; 4、产品服务期限提醒服务；</p>
                    <p>&nbsp;&nbsp;&nbsp; 5、召回服务；</p>
                    <p>&nbsp;&nbsp;&nbsp; 6、维修和替换服务；</p>
                    <p>&nbsp;&nbsp;&nbsp; 7、产品配件库；</p>
                    <p>&nbsp;&nbsp;&nbsp; 8、客户档案数据库；</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div class="news w1100 clearfix">
        <div class="gs fl">
            <h2>
                <a href="/news.html" title="查看更多">MORE+</a>公司新闻
                <span>COMPANY NEWS</span></h2>
            <dl class="clearfix">
                <dt>
                    <a href="/newsShow_52.html">
                        <img src="picture/636449786767682650.jpg" width="198" height="148" /></a>
                </dt>
                <dd class="dd1">
                    <a href="/newsShow_52.html">箱式变频供水设备七大设备特点</a></dd>
                <dd class="dd2">
                    <a href="/newsShow_52.html">箱式变频供水设备七大设备特点</a></dd>
                <dd class="dd3">
                    <a href="/newsShow_52.html" title="查看更多">MORE+</a></dd>
            </dl>
            <ul>
                <li>
                    <span>[2017-11-07]</span>
                    <a href="/newsShow_54.html">自吸式离心泵自吸原理及优点</a></li>
                <li>
                    <span>[2017-11-03]</span>
                    <a href="/newsShow_53.html">鹤川泵业为您分析潜水排污泵在工程使用中如何应用</a></li>
                <li>
                    <span>[2017-10-30]</span>
                    <a href="/newsShow_52.html">箱式变频供水设备七大设备特点</a></li>
                <li>
                    <span>[2017-10-25]</span>
                    <a href="/newsShow_51.html">污水提升设备挑选技巧及它的优点</a></li>
            </ul>
        </div>
        <div class="hy fr">
            <h2>
                <a href="/article.html" title="查看更多">MORE+</a>技术文章
                <span>ARTICLE</span></h2>
            <dl class="clearfix">
                <dt>
                    <a href="/articleShow_52.html">
                        <img src="picture/db9b0aa1f3ba4df281b4e38b5158a073.gif" width="198" height="148" /></a>
                </dt>
                <dd class="dd1">
                    <a href="/articleShow_52.html">切割式潜水排污泵使用条件</a></dd>
                <dd class="dd2">
                    <a href="/articleShow_52.html">切割式潜水排污泵使用条件</a></dd>
                <dd class="dd3">
                    <a href="/articleShow_52.html" title="查看更多">MORE+</a></dd>
            </dl>
            <ul>
                <li>
                    <span>[2017-11-08]</span>
                    <a href="/articleShow_52.html">切割式潜水排污泵使用条件</a></li>
                <li>
                    <span>[2017-11-06]</span>
                    <a href="/articleShow_51.html">反冲洗污水提升设备技术特点和优点</a></li>
                <li>
                    <span>[2017-11-02]</span>
                    <a href="/articleShow_50.html">污水自吸泵原理与起动前准备运行</a></li>
                <li>
                    <span>[2017-10-28]</span>
                    <a href="/articleShow_49.html">变频供水设备环保节能之路</a></li>
            </ul>
        </div>
    </div>
</div>
<!--底部-->
<div class="bot">
    <div class="w1100">
        <div class="friend">友情链接：
            <a href="http://www.aideke.com/" title="果汁饮料生产线" target="_blank">果汁饮料生产线</a>|
            <a href="http://www.ryshuibeng.com/" title="水泵厂家" target="_blank">水泵厂家</a>|
            <a href="http://www.lmbengfa.com/" title="不锈钢排污泵" target="_blank">不锈钢排污泵</a>|
            <a href="http://www.zzcljt.org/" title="90搅拌站价格" target="_blank">90搅拌站价格</a>|
            <a href="http://www.btyled.com/" title="LED驱动电源厂家" target="_blank">LED驱动电源厂家</a>|
            <a href="http://www.jnhqcn.com/" title="家用采暖炉" target="_blank">家用采暖炉</a>|
            <a href="http://www.xst5f.com/" title="电动阀门" target="_blank">电动阀门</a>|
            <a href="http://www.gzbatte.com/" title="熔体泵" target="_blank">熔体泵</a>|
            <a href="http://www.hznbjx.com/" title="螺带式搅拌器" target="_blank">螺带式搅拌器</a>|
            <a href="http://www.ynwzhb.com/" title="云南垃圾桶" target="_blank">云南垃圾桶</a>|
            <a href="http://www.mes100.cn/" title="MES制造执行系统" target="_blank">MES制造执行系统</a>|
            <a href="http://www.zjglgh.com/" title="缩管机" target="_blank">缩管机</a>|
            <a href="http://www.plll-fluid.com/" title="单膜片倒流防止器" target="_blank">单膜片倒流防止器</a>|
            <a href="http://www.jinxinkj.com/" title="重庆电动伸缩门" target="_blank">重庆电动伸缩门</a>|
            <a href="http://www.xiwutech.com/" title="灌装加塞旋盖机" target="_blank">灌装加塞旋盖机</a>|
            <a href="http://www.bsshzkb.com/" title="水环真空泵" target="_blank">水环真空泵</a>|</div>
        <div class="bot_nav">
            <a href="/">鹤川首页</a>
            <span>|</span>
            <a href="/aboutus.html">关于鹤川</a>
            <span>|</span>
            <a href="/products.html">鹤川产品</a>
            <span>|</span>
            <a href="/case.html">鹤川案例</a>
            <span>|</span>
            <a href="/news.html">鹤川资讯</a>
            <span>|</span>
            <a href="/service.html">鹤川服务</a>
            <span>|</span>
            <a href="/honor.html">鹤川资质</a>
            <span>|</span>
            <a href="/contact.html">联系鹤川</a></div>
        <div class="bot2 clearfix">
            <div class="logo fl">
                <a href="/">
                    <img alt="" src="picture/foot_logo.png" /></a>
            </div>
            <div class="tact fl">
                <p>联系电话：021-67229979</p>
                <p>邮箱：
                    <a href="mailto:2293193045@qq.com">2293193045@qq.com</a></p>
                <p>地址：上海市金山区山阳工业区山富东路365号</p>
                <p>Copyright 2017 鹤川泵业（上海）有限公司 All Reserved版权所有</p>
                <p>备案号：
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" ;>沪ICP备15000268号</a>
                    <a href="/sitemap.xml" target="_blank">网站地图</a>
                    <a href="/admin/Login.aspx" target="_blank" rel="nofollow">管理登陆</a>
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://": " http://");
                    document.write(unescape("%3Cspan id='cnzz_stat_icon_1266396093'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1266396093%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>
            </div>
            <div class="ewm fr">
                <img src="picture/ewm.jpg" width="114" height="112" />
                <p>&nbsp;
                    <span style="display:none;"></span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="js/jquery.banner.js"></script>
<SCRIPT type="text/javascript" src="js/base.js"></SCRIPT>
<!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/lib.js"></SCRIPT>
<!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/163css.js"></SCRIPT>
<!--放大功能JS-->
<script type="text/javascript">$(function() {
    $(".banner").swBanner();
});</script>
<script type="text/javascript" src="js/jquery.scrollshow.js"></script>
<SCRIPT type=text/javascript>jQuery(document).ready(function() {
    jQuery("#h_customer_slide").scrollShow("right", {
        step: 1,
        time: 5000
    }); //滚动图片数和间隔时间
});</SCRIPT>
<script type="text/javascript">$(document).ready(function(e) {
    var sitename = $(".bt_text_y span a:eq(1)").html();

    $("#nav11 li a").each(function() {
        var menuname = $(this).html();
        if (sitename == menuname) {
            $(this).addClass("hover");
        }
    });
});

$(document).ready(function(e) {

    var nowname = $('.bt_text_y span a:eq(2)').html();
    $("#fontred a").each(function() {
        var menuname = $(this).html();
        if (nowname == menuname) {
            $(this).addClass("font_red");
        }
    });
})</script>
<script type="text/javascript" src="js/pt_js.js"></script>
<div class="sidebar_qq">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2293193045&amp;site=qq&amp;menu=yes" target="_blank">
        <img alt="" src="picture/qq.png"></a>
</div>
</body>

</html>