{{include file="pc/public/_meta.html"}}
{{include file="pc/public/_header.html"}}
<div id="contant">
    <div class="list_box">
        {{include file="pc/sidebar.html"}}
        <div class="box_right">
            <div class="box_bt">
                <div class="box_right_title">{{$res.title}}</div>
                <div class="bt_text_y"><span>{{$crumbstr}}</span>
                </div>
            </div>
            <div class="box_right_con">{{$res.content}}</div>
        </div>
    </div>
</div>
{{include file="pc/public/_footer.html"}}
