{{include file="pc/public/_meta.html"}}
{{include file="pc/public/_header.html"}}
<div id="contant">
    <div class="list_box">
        {{include file="pc/sidebar.html"}}
        <div class="box_right">
            <div class="box_bt">
                <div class="box_right_title">产品中心</div>
                <div class="bt_text_y"><span>您现在所在位置：<a href='/'>首页</a> > 产品中心</span></div>
            </div>
            <div class="pro_pic">
                <ul>
                    {{foreach $res.data as $v}}
                    <li>
                        <div class="proimg_bk">
                            <a href="{{url path='index/'}}" class="proimg"><img src="picture/636384032929878701.jpg"></a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_115.html"><p>耐腐蚀潜水排污泵</p></a>
                    </li>
                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_114.html" class="proimg">
                                <img src="picture/636384034024288721.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_114.html"><p>海水潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_113.html" class="proimg">
                                <img src="picture/636374492385627483.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_113.html"><p>不锈钢潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_110.html" class="proimg">
                                <img src="picture/636374569674641249.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_110.html"><p>切割式潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_109.html" class="proimg">
                                <img src="picture/636374577560284050.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_109.html"><p>第三代自动搅匀潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_108.html" class="proimg">
                                <img src="picture/636374579358344856.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_108.html"><p>自动搅匀潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_104.html" class="proimg">
                                <img src="picture/636375222671421389.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_104.html"><p>无堵塞潜水排污泵</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_137.html" class="proimg">
                                <img src="picture/636373756421762283.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_137.html"><p>油水分离器</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_133.html" class="proimg">
                                <img src="picture/636373762673803252.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_133.html"><p>一体化预制泵站</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_132.html" class="proimg">
                                <img src="picture/636373762850062276.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_132.html"><p>反冲洗污水提升器</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_128.html" class="proimg">
                                <img src="picture/636374339349437893.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_128.html"><p>PE污水提升器</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_125.html" class="proimg">
                                <img src="picture/636374339930245162.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_125.html"><p>箱式生活变频供水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_123.html" class="proimg">
                                <img src="picture/636374345944264578.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_123.html"><p>不锈钢变频供水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_122.html" class="proimg">
                                <img src="picture/636374395497825243.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_122.html"><p>全自动变频供水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_103.html" class="proimg">
                                <img src="picture/636375258310035817.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_103.html"><p>罐式无负压叠压供水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_102.html" class="proimg">
                                <img src="picture/636375261425171117.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_102.html"><p>罐式无负压叠压给水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_101.html" class="proimg">
                                <img src="picture/636375263108360749.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_101.html"><p>罐式无负压给水设备</p></a>
                    </li>

                    <li>
                        <div class="proimg_bk">
                            <a href="/productshow_216.html" class="proimg">
                                <img src="picture/636438356882572821.jpg">
                            </a>
                        </div>
                        <div class="clearfix"></div>
                        <a href="/productshow_216.html"><p>ISG管道循环泵</p></a>
                    </li>

                </ul>
            </div>
            <div class="clearfix"></div>

            <div class="page"><a>首页</a>　<a>上一页</a>　<a href='/Products_p2.html'>下一页</a>　<a
                    href='/Products_p9.html'>尾页</a>　共154记录，当前1/9页 每页18条　跳转：<input type="text" id="EnterGoFigure"
                                                                                  style="text-align:center; border:1px solid #ccc; width:30px;"
                                                                                  class="EnterGoFigure" value="1"/>　
                <button style="background:#fff; border:1px solid #ccc;" class="InputJumpEvent"
                        onclick='InputJumpEvent(9,1);function InputJumpEvent(){var e=document.getElementById("EnterGoFigure"),v=e.value;if(v>arguments[0]){alert("跳转数不能超出总页数！");}else if(v<=0){alert("跳转数必须大于 0 ！");}else if(v!=arguments[1]){top.location.href="/Products_p"+v+".html"}else{};}'>
                    GO
                </button>
            </div>
        </div>
    </div>
</div>
{{include file="pc/public/_footer.html"}}