{{include file="pc/public/_meta.html"}}
{{include file="pc/public/_header.html"}}
<div id="contant">
    <div class="list_box">
        {{include file="pc/sidebar.html"}}
        <div class="box_right">
            <div class="box_bt">
                <div class="box_right_title">产品中心</div>
                <div class="bt_text_y"><span>{{$crumbstr}}</span></div>
            </div>
            <div class="pro_pic">
                <ul>
                    {{foreach $list.data as $v}}
                    <li>
                        <div class="proimg_bk"><a href="{{url path='index/product/index' params=['id'=>$v.id]}}" class="proimg">
                        <img src="{{$v.image.thumbnail}}" ></a></div>
                        <div class="clearfix"></div>
                        <a href="{{url path='index/product/index' params=['id'=>$v.id]}}"><p>{{$v.title}}</p></a>
                    </li>
                    {{/foreach}}
                </ul>
            </div>
            <div class="clearfix"></div>

            <div class="page">{{$pagestr}}</div>
        </div>
    </div>
</div>
{{include file="pc/public/_footer.html"}}