<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>鹤川服务-鹤川泵业（上海）有限公司</title>
	<meta name="keywords" content="鹤川服务" />
	<meta name="description" content="鹤川服务" />
<meta content="IE=7" http-equiv="X-UA-Compatible" />
<link rel="stylesheet" type="text/css" href="css/style.css"  />
<!--导航当前状态 JS-->
<script language="javascript" type="text/javascript"> 
	var nav= '6';
</script>
<!--导航当前状态 JS END-->
</head>
<body>
<div class="top">
    	<div class="top1">
        	<div class="w1100 clearfix">
                <div class="hyy fl">欢迎访问鹤川泵业（上海）有限公司官网！</div>
                <div class="dt fr"><a href="/contact.html">联系我们</a><span>/</span><a href="/order.html">在线留言</a><span>/</span><a href="/sitemap.xml">网站地图</a></div>
            </div>
        </div>
   	  	<div class="top2 w1100 clearfix">
        	<div class="logo fl"><a href="/"><img src="picture/logo.png" width="150" height="100"  alt="鹤川泵业（上海）有限公司" title="鹤川泵业（上海）有限公司"/></a></div>
            <div class="name fl">
            	<h1>鹤川泵业（上海）有限公司</h1>
                <h2>本公司主要经营：潜水排污泵,无堵塞潜水排污泵,切割式潜水排污泵,自动搅匀潜水排污泵,不锈钢潜水排污泵</h2>
            </div>
            <div class="tact fr">
            	<p class="p1"></p>
 <script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>  
            </div>
   	  	</div>
        <div class="nav">
        	<ul class="w1100 clearfix">
            	<li id="navId1"><a href="/">网站首页</a></li>
                <li id="navId2"><a href="/aboutus.html">关于鹤川</a></li>
                <li id="navId3"><a href="/products.html">鹤川产品</a></li>
                <li id="navId7"><a href="/case.html">鹤川案例</a></li>
                <li id="navId4"><a href="/news.html">鹤川资讯</a></li>
                <li id="navId6"><a href="/service.html">鹤川服务</a></li>
                <li id="navId5"><a href="/honor.html">鹤川资质</a></li>
                <li id="navId8"><a href="/contact.html">联系鹤川</a></li>
            </ul>
<script language="javascript" type="text/javascript">
try {
    document.getElementById("navId" + nav).className = "current";
}
catch (e) {}
</script>
        </div>
        <!--banner-->    
        <div class="banner">
            <ul class="banList">
                <li class="active"><a href=""><img src="picture/banner1.jpg" /></a></li>
                <li><a href=""><img src="picture/banner2.jpg" /></a></li>
                <li><a href=""><img src="picture/banner3.jpg" /></a></li>
            </ul>
            <div class="fomW">
                <div class="jsNav">
                    <a href="javascript:;" class="trigger current"></a>
                    <a href="javascript:;" class="trigger"></a>
                    <a href="javascript:;" class="trigger"></a>
                </div>
            </div>
        </div>
        <!--banner--> 
        <div class="sousuo w1100">
         <div class="gjc fl">热门产品：

            <a href="/productshow_56.html">AS潜水排污泵</a><span>|</span>     

            <a href="/productshow_55.html">ZW无堵塞自吸式排污泵</a><span>|</span>     

            <a href="/productshow_54.html">JYWQ自动搅匀排污泵</a><span>|</span>     
  
            
            </div>
            <div class="search fr clearfix">
                <form id="form1" name="form1" method="get" action="/products.html">
                  
                    <input class="search_txt in1"  name="tk" type="text" value="请输入产品名称" id="tk" onFocus="if (value =='请输入产品名称'){value =''}" onBlur="if (value ==''){value='请输入产品名称'}"/>
                    <h2><input class="loginsubmit in2" type="submit" name="button" id="button" value="" /></h2>
                </form>
            </div>
        </div>
    </div>
<div id="contant">
  <div class="list_box"> 
      <div class="lift_zuo cl">  
       <div class="lift_zuo cl">  
        <div class="n_pro_list">
            <div class="list_prop">
            	<p>产品展示</p>
                <ul>
     
                    <li class="l1" id="class49"><a href="/qianshuipaiwubeng/" title="潜水排污泵" class="a1" >潜水排污泵</a><a style="cursor:Hand" onclick="showsubmenu('49')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_49" style="display:none">
                    <ul>   
        
                    <li id="small57"><a href="/Products_T57.html" title="无堵塞潜水排污泵" >无堵塞潜水排污泵</a></li>    
        
                    <li id="small56"><a href="/Products_T56.html" title="自动搅匀潜水排污泵" >自动搅匀潜水排污泵</a></li>    
        
                    <li id="small55"><a href="/Products_T55.html" title="切割式潜水排污泵" >切割式潜水排污泵</a></li>    
        
                    <li id="small124"><a href="/Products_T124.html" title="不锈钢潜水排污泵" >不锈钢潜水排污泵</a></li>    
        
                    <li id="small203"><a href="/Products_T203.html" title="耐高温潜水排污泵" >耐高温潜水排污泵</a></li>    
        
                    <li id="small209"><a href="/Products_T209.html" title="防爆潜水排污泵" >防爆潜水排污泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class11"><a href="/lishilixinbeng/" title="立式离心泵" class="a1" >立式离心泵</a><a style="cursor:Hand" onclick="showsubmenu('11')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_11" style="display:none">
                    <ul>   
        
                    <li id="small141"><a href="/Products_T141.html" title="不锈钢立式离心泵" >不锈钢立式离心泵</a></li>    
        
                    <li id="small142"><a href="/Products_T142.html" title="多级立式离心泵" >多级立式离心泵</a></li>    
        
                    <li id="small247"><a href="/Products_T247.html" title="防爆立式离心泵" >防爆立式离心泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class2"><a href="/bianpingongshuishebei/" title="变频供水设备" class="a1" >变频供水设备</a><a style="cursor:Hand" onclick="showsubmenu('2')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_2" style="display:none">
                    <ul>   
        
                    <li id="small149"><a href="/Products_T149.html" title="恒压变频供水设备" >恒压变频供水设备</a></li>    
        
                    <li id="small223"><a href="/Products_T223.html" title="箱式变频供水设备" >箱式变频供水设备</a></li>    
        
                    <li id="small227"><a href="/Products_T227.html" title="罐式无负压供水设备" >罐式无负压供水设备</a></li>    
        
                    <li id="small228"><a href="/Products_T228.html" title="箱式无负压供水设备" >箱式无负压供水设备</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class3"><a href="/wushuitishengshebei/" title="污水提升设备" class="a1" >污水提升设备</a><a style="cursor:Hand" onclick="showsubmenu('3')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_3" style="display:none">
                    <ul>   
        
                    <li id="small150"><a href="/Products_T150.html" title="塑料污水提升设备" >塑料污水提升设备</a></li>    
        
                    <li id="small137"><a href="/Products_T137.html" title="不锈钢污水提升设备" >不锈钢污水提升设备</a></li>    
        
                    <li id="small139"><a href="/Products_T139.html" title="反冲洗污水提升设备" >反冲洗污水提升设备</a></li>    
        
                    <li id="small140"><a href="/Products_T140.html" title="一体化预制泵站" >一体化预制泵站</a></li>    
        
                    <li id="small148"><a href="/Products_T148.html" title="隔油提升设备" >隔油提升设备</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class229"><a href="/Products_T229.html" title="卧式离心泵" class="a1" >卧式离心泵</a><a style="cursor:Hand" onclick="showsubmenu('229')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_229" style="display:none">
                    <ul>   
        
                    <li id="small244"><a href="/Products_T244.html" title="不锈钢卧式离心泵" >不锈钢卧式离心泵</a></li>    
        
                    <li id="small246"><a href="/Products_T246.html" title="卧式单级离心泵" >卧式单级离心泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class222"><a href="/Products_T222.html" title="立式管道泵" class="a1" >立式管道泵</a><a style="cursor:Hand" onclick="showsubmenu('222')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_222" style="display:none">
                    <ul>   
        
                    <li id="small232"><a href="/Products_T232.html" title="不锈钢立式管道泵" >不锈钢立式管道泵</a></li>    
        
                    <li id="small233"><a href="/Products_T233.html" title="ISG立式管道泵" >ISG立式管道泵</a></li>    
        
                    <li id="small234"><a href="/Products_T234.html" title="防爆立式管道泵" >防爆立式管道泵</a></li>    
        
                    <li id="small237"><a href="/Products_T237.html" title="便拆式管道泵" >便拆式管道泵</a></li>    
        
                    <li id="small238"><a href="/Products_T238.html" title="屏蔽式管道泵" >屏蔽式管道泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class230"><a href="/Products_T230.html" title="卧式管道泵" class="a1" >卧式管道泵</a><a style="cursor:Hand" onclick="showsubmenu('230')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_230" style="display:none">
                    <ul>   
        
                    <li id="small241"><a href="/Products_T241.html" title="单级卧式管道泵" >单级卧式管道泵</a></li>    
        
                    <li id="small242"><a href="/Products_T242.html" title="不锈钢卧式管道泵" >不锈钢卧式管道泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class72"><a href="/Products_T72.html" title="控制柜" class="a1" >控制柜</a><a style="cursor:Hand" onclick="showsubmenu('72')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_72" style="display:none">
                    <ul>   
        
                    <li id="small171"><a href="/Products_T171.html" title="星三角降压控制柜" >星三角降压控制柜</a></li>    
        
                    <li id="small172"><a href="/Products_T172.html" title="直接启动控制柜" >直接启动控制柜</a></li>    
        
                    <li id="small173"><a href="/Products_T173.html" title="自藕降压启动控制柜" >自藕降压启动控制柜</a></li>    
        
                    <li id="small174"><a href="/Products_T174.html" title="变频控制柜" >变频控制柜</a></li>    
        
                    <li id="small175"><a href="/Products_T175.html" title="双电源控制柜" >双电源控制柜</a></li>    
        
                    <li id="small176"><a href="/Products_T176.html" title="低频巡检控制柜" >低频巡检控制柜</a></li>    
        
                    <li id="small177"><a href="/Products_T177.html" title="软启动控制柜" >软启动控制柜</a></li>    
        
                    <li id="small178"><a href="/Products_T178.html" title="消防控制柜" >消防控制柜</a></li>    
        
                    <li id="small179"><a href="/Products_T179.html" title="非标控制柜" >非标控制柜</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class65"><a href="/Products_T65.html" title="潜水泵" class="a1" >潜水泵</a><a style="cursor:Hand" onclick="showsubmenu('65')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_65" style="display:none">
                    <ul>   
        
                    <li id="small106"><a href="/Products_T106.html" title="井用潜水泵" >井用潜水泵</a></li>    
        
                    <li id="small107"><a href="/Products_T107.html" title="不锈钢潜水泵" >不锈钢潜水泵</a></li>    
        
                    <li id="small249"><a href="/Products_T249.html" title="WQ潜水泵" >WQ潜水泵</a></li>    
        
                    <li id="small250"><a href="/Products_T250.html" title="QY油浸式潜水泵" >QY油浸式潜水泵</a></li>    
        
                    <li id="small251"><a href="/Products_T251.html" title="QS喷泉泵" >QS喷泉泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class69"><a href="/Products_T69.html" title="污水泵" class="a1" >污水泵</a><a style="cursor:Hand" onclick="showsubmenu('69')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_69" style="display:none">
                    <ul>   
        
                    <li id="small112"><a href="/Products_T112.html" title="WQ污水泵" >WQ污水泵</a></li>    
        
                    <li id="small114"><a href="/Products_T114.html" title="YW液下污水泵" >YW液下污水泵</a></li>    
        
                    <li id="small115"><a href="/Products_T115.html" title="ZW自吸式污水泵" >ZW自吸式污水泵</a></li>    
        
                    <li id="small116"><a href="/Products_T116.html" title="LW立式污水泵" >LW立式污水泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class68"><a href="/zixibeng/" title="自吸泵" class="a1" >自吸泵</a><a style="cursor:Hand" onclick="showsubmenu('68')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_68" style="display:none">
                    <ul>   
        
                    <li id="small83"><a href="/Products_T83.html" title="污水自吸泵" >污水自吸泵</a></li>    
        
                    <li id="small84"><a href="/Products_T84.html" title="清水自吸泵" >清水自吸泵</a></li>    
        
                    <li id="small190"><a href="/Products_T190.html" title="不锈钢污水自吸泵" >不锈钢污水自吸泵</a></li>    
        
                    <li id="small231"><a href="/Products_T231.html" title="自吸式离心泵" >自吸式离心泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class12"><a href="/huagongbeng/" title="化工泵" class="a1" >化工泵</a><a style="cursor:Hand" onclick="showsubmenu('12')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_12" style="display:none">
                    <ul>   
        
                    <li id="small62"><a href="/Products_T62.html" title="IH型不锈钢化工离心泵" >IH型不锈钢化工离心泵</a></li>    
        
                    <li id="small63"><a href="/Products_T63.html" title="IHF氟塑料离心泵" >IHF氟塑料离心泵</a></li>    
        
                    <li id="small64"><a href="/Products_T64.html" title="FB、AFB耐腐蚀泵" >FB、AFB耐腐蚀泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class16"><a href="/Products_T16.html" title="多级泵" class="a1" >多级泵</a><a style="cursor:Hand" onclick="showsubmenu('16')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_16" style="display:none">
                    <ul>   
        
                    <li id="small19"><a href="/Products_T19.html" title="卧式多级泵" >卧式多级泵</a></li>    
        
                    <li id="small25"><a href="/Products_T25.html" title="立式多级泵" >立式多级泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class71"><a href="/Products_T71.html" title="消防泵" class="a1" >消防泵</a><a style="cursor:Hand" onclick="showsubmenu('71')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_71" style="display:none">
                    <ul>   
        
                    <li id="small180"><a href="/Products_T180.html" title="立式单级消防泵" >立式单级消防泵</a></li>    
        
                    <li id="small181"><a href="/Products_T181.html" title="立式多级消防泵" >立式多级消防泵</a></li>    
        
                    <li id="small185"><a href="/Products_T185.html" title="消防稳压给水设备" >消防稳压给水设备</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class151"><a href="/Products_T151.html" title="气压罐" class="a1" >气压罐</a><a style="cursor:Hand" onclick="showsubmenu('151')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_151" style="display:none">
                    <ul>   
        
                    <li id="small165"><a href="/Products_T165.html" title="消防气压罐" >消防气压罐</a></li>    
        
                    <li id="small166"><a href="/Products_T166.html" title="隔膜气压罐" >隔膜气压罐</a></li>    
        
                    <li id="small167"><a href="/Products_T167.html" title="生活供水气压罐" >生活供水气压罐</a></li>    
        
                    <li id="small168"><a href="/Products_T168.html" title="不锈钢气压罐" >不锈钢气压罐</a></li>    
        
                    <li id="small169"><a href="/Products_T169.html" title="稳压气压罐" >稳压气压罐</a></li>    
        
                    <li id="small170"><a href="/Products_T170.html" title="膨胀罐" >膨胀罐</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class152"><a href="/Products_T152.html" title="空调泵" class="a1" >空调泵</a><a style="cursor:Hand" onclick="showsubmenu('152')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_152" style="display:none">
                    <ul>   
        
                    <li id="small160"><a href="/Products_T160.html" title="GDL立式多级空调水泵" >GDL立式多级空调水泵</a></li>    
        
                    <li id="small161"><a href="/Products_T161.html" title="ISG立式空调泵" >ISG立式空调泵</a></li>    
        
                    <li id="small162"><a href="/Products_T162.html" title="ISGB便拆式空调水泵" >ISGB便拆式空调水泵</a></li>    
        
                    <li id="small163"><a href="/Products_T163.html" title="ISW卧式空调水泵" >ISW卧式空调水泵</a></li>    
        
                    <li id="small164"><a href="/Products_T164.html" title="SPG屏蔽式空调水泵" >SPG屏蔽式空调水泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
     
                    <li class="l1" id="class153"><a href="/Products_T153.html" title="循环泵" class="a1" >循环泵</a><a style="cursor:Hand" onclick="showsubmenu('153')" class="a2"><img src="picture/jt.png"/></a>
                     <div id="submenu_153" style="display:none">
                    <ul>   
        
                    <li id="small154"><a href="/Products_T154.html" title="ISG管道循环泵" >ISG管道循环泵</a></li>    
        
                    <li id="small155"><a href="/Products_T155.html" title="ISW卧式管道循环泵" >ISW卧式管道循环泵</a></li>    
        
                    <li id="small156"><a href="/Products_T156.html" title="ISGB便拆式循环泵" >ISGB便拆式循环泵</a></li>    
        
                    <li id="small157"><a href="/Products_T157.html" title="GC锅炉循环泵" >GC锅炉循环泵</a></li>    
        
                    <li id="small158"><a href="/Products_T158.html" title="SPG屏蔽式循环泵" >SPG屏蔽式循环泵</a></li>    
        
                    <li id="small159"><a href="/Products_T159.html" title="GDL循环泵" >GDL循环泵</a></li>    
        
                    </ul>  
                    </div>
                    </li>
         
                    
                </ul>
            </div>
            <SCRIPT type=text/JavaScript>
var aaa = document.getElementsByTagName('div');

	for(i=0;i<aaa.length;i++)
	{
		if(aaa[i].id.indexOf('submenu_')>-1)		
		{
			aaa[i].style.display = 'none';
		}
	}	
function showsubmenu(sid)
{
	var aaa = document.getElementsByTagName('div');
	for(i=0;i<aaa.length;i++)
	{		
		if(aaa[i].id=='submenu_'+sid)
		{
		   var bbb = document.getElementById("submenu_" + sid );
	       if(bbb.style.display=='')
		      bbb.style.display='none';
		   else
		      bbb.style.display='';
		}
		else if(aaa[i].id.indexOf('submenu_')>-1)
		{
		    aaa[i].style.display = 'none'
		}
	}	
	;
	
}
var id=;
if(id==0)
{
   showsubmenu('');
}else{
   showsubmenu('')
}
</SCRIPT>
            <div class="list1" id="fontred">
            <p>产品推荐</p>
                <ul>
   
                   <li>
                   <div class="proimg_bk">
                   <a href="/productshow_56.html" class="proimg"><img src="picture/s_636371959519295874.jpg"/></a>
                   </div>
                   <a href="/productshow_56.html"><span>AS潜水排污泵</span></a>
                   </li>
   
                   <li>
                   <div class="proimg_bk">
                   <a href="/productshow_55.html" class="proimg"><img src="picture/s_636377792133195980.jpg"/></a>
                   </div>
                   <a href="/productshow_55.html"><span>ZW无堵塞自吸式排污泵</span></a>
                   </li>
             
                    
                </ul>
            </div>
     
        </div>
		</div>
 
		
        </div> 
    <div class="box_right">
      <div class="box_bt">
        <div class="box_right_title">鹤川服务</div>
        <div class="bt_text_y"><span>您现在所在位置：<a href='/'>首页</a> > 鹤川服务</span></div>
      </div>
      <div class="box_right_con">
<p>
	公司在全国建立了最为健全的营销服务体系：</p>
<p>
	10个服务部、30个服务片区、65个服务网点。为客户提供完善的售前、售中、售后支持，让您买的放心、用的称心。</p>
<p>
	售前服务：</p>
<p>
	由销售顾问、技术工程师、销售经理等各级别的专业人员提供主动、快速、全面和细致的服务，包括产品选型、方案咨询、专业流体输送方案定制、个性化配套方案定制、工程方案定制等，想客户之所需，供客户之所需。</p>
<p>
	售中服务：</p>
<p>
	从合同签订到确认收货期间由专业服务人员跟踪推进，确保每一批货都能准时、保质保量交到客户手中。&nbsp;</p>
<p>
	售后服务：</p>
<p>
	售后服务体系具有以下内容：<br />
	&nbsp;&nbsp;&nbsp; 1、24小时400免费服务热线开通；<br />
	&nbsp;&nbsp;&nbsp; 2、专业工程师接电询答；1小时内答复；<br />
	&nbsp;&nbsp;&nbsp; 3、产品跟踪服务；<br />
	&nbsp;&nbsp;&nbsp; 4、产品服务期限提醒服务；<br />
	&nbsp;&nbsp;&nbsp; 5、召回服务；<br />
	&nbsp;&nbsp;&nbsp; 6、维修和替换服务；<br />
	&nbsp;&nbsp;&nbsp; 7、产品配件库；<br />
	&nbsp;&nbsp;&nbsp; 8、客户档案数据库；&nbsp;</p>
 </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
   <div class="bott">
    	<div class="w1100">
   <div class="bot_nav">
            	<a href="/">鹤川首页</a><span>|</span>
                <a href="/aboutus.html">关于鹤川</a><span>|</span>
                <a href="/products.html">鹤川产品</a><span>|</span>
                <a href="/case.html">鹤川案例</a><span>|</span>
                <a href="/news.html">鹤川资讯</a><span>|</span>
                <a href="/service.html">鹤川服务</a><span>|</span>
                <a href="/honor.html">鹤川资质</a><span>|</span>
                <a href="/contact.html">联系鹤川</a>
                
            </div>
            <div class="bot3 clearfix">
            	<div class="logo fl"><a href="/"><img alt="" src="picture/foot_logo.png" /></a></div>
           	  	<div class="tact fl">
                	<p>联系电话：021-67229979</p>
                    <p>邮箱：<a href="mailto:2293193045@qq.com">2293193045@qq.com</a> </p>
                    <p>地址：上海市金山区山阳工业区山富东路365号</p>
                    <p>Copyright ? 2017 鹤川泵业（上海）有限公司 All Reserved版权所有</p>
                    <p>备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow";>沪ICP备15000268号</a>  <a href="/sitemap.xml" target="_blank">网站地图</a>  <a href="/admin/Login.aspx" target="_blank" rel="nofollow">管理登陆</a> 
<script type="text/javascript">
var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cspan id='cnzz_stat_icon_1266396093'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/stat.php%3Fid%3D1266396093%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</p>
                </div>
              	<div class="ewm fr"><img  src="picture/ewm.jpg" width="114" height="112" /> 
<p>
	&nbsp;<span style="display:none;"></span>
</p></div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="js/jquery-1.8.0.min.js"></script>  
<script type="text/javascript" src="js/jquery.banner.js"></script>
<SCRIPT type="text/javascript" src="js/base.js" ></SCRIPT><!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/lib.js"></SCRIPT><!--放大功能JS-->
<SCRIPT type="text/javascript" src="js/163css.js" ></SCRIPT><!--放大功能JS-->
<script type="text/javascript"> 
$(function(){
	$(".banner").swBanner();
});
</script>
<script type="text/javascript" src="js/jquery.scrollshow.js"></script> 
			<SCRIPT type=text/javascript>
jQuery(document).ready(function() {
	jQuery("#h_customer_slide").scrollShow("right",{step:1,time:5000});	//滚动图片数和间隔时间	
});
</SCRIPT>
<script type="text/javascript">
$(document).ready(function(e) {
    var sitename=$(".bt_text_y span a:eq(1)").html();
	
	$("#nav11 li a").each(function() {
        var menuname=$(this).html();
		if(sitename==menuname){
			$(this).addClass("hover");
			}
    });
});

$(document).ready(function(e){
	
	var nowname=$('.bt_text_y span a:eq(2)').html();
	$("#fontred a").each(function() {
        var menuname=$(this).html();
		if(nowname==menuname){
			$(this).addClass("font_red");
		}
    });
})
</script>

<script type="text/javascript" src="js/pt_js.js"></script>  





<div class="sidebar_qq"><a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2293193045&amp;site=qq&amp;menu=yes" target="_blank"><img alt="" src="picture/qq.png"></a></div>
</body>
</html>
