<div class="lift_zuo cl">
    <div class="lift_zuo cl">
        <div class="n_pro_list">
            <div class="list_prop">
                <p>{{$sidetitle}}</p>
                <ul>
                    {{foreach $side as $v}}
                    <li class="l1" id="class49"><a href="{{url path='index/pcategory/index' params=['id'=>$v.id]}}" title="{{$v.title}}" class="a1">{{$v.title}}</a></li>
                    {{/foreach}}
                </ul>
            </div>

            <div class="list1" id="fontred">
                <p>产品推荐</p>
                <ul>
                    {{foreach $recopro as $v}}
                    <li>
                        <div class="proimg_bk">
                            <a href="{{url path='index/product/index' params=['id'=>$v.id]}}" class="proimg">
                                <img src="{{$v.image.thumbnail}}" width=""></a>
                        </div>
                        <a href="/productshow_56.html"><span>{{$v.title}}</span></a>
                    </li>
                    {{/foreach}}
                </ul>
            </div>

        </div>
    </div>
</div>