<aside class="Hui-aside">
	<div class="menu_dropdown bk_2">
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe616;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/products/index'}}" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
					<li><a data-href="{{url path='admin/pcategory/index'}}" data-title="产品分类" href="javascript:void(0)">产品分类</a></li>
					<li><a data-href="{{url path='admin/cases/index'}}" data-title="案例列表" href="javascript:void(0)">案例列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/articles/index'}}" data-title="文章管理" href="javascript:void(0)">文章管理</a></li>
					<li><a data-href="{{url path='admin/acategory/index'}}" data-title="文章分类" href="javascript:void(0)">文章分类</a></li>
					<li><a data-href="{{url path='admin/page/index'}}" data-title="页面列表" href="javascript:void(0)">页面列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/comment/commentList'}}" data-title="文章评论" href="javascript:;">文章评论</a></li>
					<li><a data-href="{{url path='admin/comment/commentList'}}" data-title="产品评论" href="javascript:;">评论列表</a></li>
					<li><a data-href="{{url path='admin/comment/messageList'}}" data-title="在线留言" href="javascript:void(0)">在线留言</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-layout">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 布局管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/Menusite/menuList'}}" data-title="菜单管理" href="javascript:void(0)">菜单管理</a></li>
					<li><a data-href="{{url path='admin/Sliderbox/getList'}}" data-title="广告管理" href="javascript:void(0)">广告管理</a></li>
					<li><a data-href="{{url path='admin/Link/getList'}}" data-title="友链管理" href="javascript:void(0)">友情链接</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/admin/getAll'}}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
					<li><a data-href="{{url path='admin/role/getAll'}}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-image">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 图片管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/image/getList'}}" data-title="系统设置" href="javascript:void(0)">图片列表</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a data-href="{{url path='admin/siteinfo/index'}}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a data-href="{{url path='admin/sitetext/filterText'}}" data-title="屏蔽词" href="javascript:void(0)">屏蔽词</a></li>
				</ul>
			</dd>
		</dl>
	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>