<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="Bookmark" href="{{$smarty.const.STATIC}}/admin/favicon.ico" >
<link rel="Shortcut Icon" href="{{$smarty.const.STATIC}}/admin/favicon.ico" />
<!--[if IE 6]>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<!--[if lt IE 9]>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/admin/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/admin/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/admin/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/admin/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="{{$smarty.const.STATIC}}/huploadify/Huploadify.css" />

<meta name="keywords" content="CMS,内容管理系统,优亦内容管理系统,ueecms.com">
<meta name="description" content="优亦内容管理系统（UEECMS）是一款轻量级内容管理系统，完全开源免费，适合中小型博客/资讯类网站以及企业建站，获取支持请访问www.ueecms.com。">