<!--底部-->
<div class="bot">
    <div class="w1100">
        <div class="friend">友情链接：
            <a href="http://www.aideke.com/" title="果汁饮料生产线" target="_blank">果汁饮料生产线</a>|
            <a href="http://www.ryshuibeng.com/" title="水泵厂家" target="_blank">水泵厂家</a>|
            <a href="http://www.lmbengfa.com/" title="不锈钢排污泵" target="_blank">不锈钢排污泵</a>|
            <a href="http://www.zzcljt.org/" title="90搅拌站价格" target="_blank">90搅拌站价格</a>|
            <a href="http://www.btyled.com/" title="LED驱动电源厂家" target="_blank">LED驱动电源厂家</a>|
            <a href="http://www.jnhqcn.com/" title="家用采暖炉" target="_blank">家用采暖炉</a>|
            <a href="http://www.xst5f.com/" title="电动阀门" target="_blank">电动阀门</a>|
            <a href="http://www.gzbatte.com/" title="熔体泵" target="_blank">熔体泵</a>|
            <a href="http://www.hznbjx.com/" title="螺带式搅拌器" target="_blank">螺带式搅拌器</a>|
            <a href="http://www.ynwzhb.com/" title="云南垃圾桶" target="_blank">云南垃圾桶</a>|
            <a href="http://www.mes100.cn/" title="MES制造执行系统" target="_blank">MES制造执行系统</a>|
            <a href="http://www.zjglgh.com/" title="缩管机" target="_blank">缩管机</a>|
            <a href="http://www.plll-fluid.com/" title="单膜片倒流防止器" target="_blank">单膜片倒流防止器</a>|
            <a href="http://www.jinxinkj.com/" title="重庆电动伸缩门" target="_blank">重庆电动伸缩门</a>|
            <a href="http://www.xiwutech.com/" title="灌装加塞旋盖机" target="_blank">灌装加塞旋盖机</a>|
            <a href="http://www.bsshzkb.com/" title="水环真空泵" target="_blank">水环真空泵</a>|
        </div>
        <div class="bot_nav">
            <a href="/">鹤川首页</a>
            <span>|</span>
            <a href="/aboutus.html">关于鹤川</a>
            <span>|</span>
            <a href="/products.html">鹤川产品</a>
            <span>|</span>
            <a href="/case.html">鹤川案例</a>
            <span>|</span>
            <a href="/news.html">鹤川资讯</a>
            <span>|</span>
            <a href="/service.html">鹤川服务</a>
            <span>|</span>
            <a href="/honor.html">鹤川资质</a>
            <span>|</span>
            <a href="/contact.html">联系鹤川</a></div>
        <div class="bot2 clearfix">
            <div class="logo fl">
                <a href="/">
                    <img alt="" src="{{$smarty.const.STATIC}}/index/picture/foot_logo.png"/></a>
            </div>
            <div class="tact fl">
                <p>联系电话：021-67229979</p>
                <p>邮箱：
                    <a href="mailto:2293193045@qq.com">2293193045@qq.com</a></p>
                <p>地址：上海市金山区山阳工业区山富东路365号</p>
                <p>Copyright 2017 鹤川泵业（上海）有限公司 All Reserved版权所有</p>
                <p>备案号：
                    <a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow" ;>沪ICP备15000268号</a>
                    <a href="/sitemap.xml" target="_blank">网站地图</a>
                    <a href="/admin/Login.aspx" target="_blank" rel="nofollow">管理登陆</a>
                    <script type="text/javascript"></script>
                </p>
            </div>
            <div class="ewm fr">
                <img src="{{$smarty.const.STATIC}}/index/picture/ewm.jpg" width="114" height="112"/>
                <p>&nbsp;
                    <span style="display:none;"></span></p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/jquery.banner.js"></script>
<SCRIPT type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/base.js"></SCRIPT>
<!--放大功能JS-->
<SCRIPT type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/lib.js"></SCRIPT>
<!--放大功能JS-->
<SCRIPT type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/163css.js"></SCRIPT>
<!--放大功能JS-->
<script type="text/javascript">
$(function () {
    $(".banner").swBanner();
});
</script>
<script type="text/javascript" src="js/jquery.scrollshow.js"></script>
<SCRIPT type=text/javascript>jQuery(document).ready(function () {
    jQuery("#h_customer_slide").scrollShow("right", {
        step: 1,
        time: 5000
    }); //滚动图片数和间隔时间
});</SCRIPT>
<script type="text/javascript">$(document).ready(function (e) {
    var sitename = $(".bt_text_y span a:eq(1)").html();

    $("#nav11 li a").each(function () {
        var menuname = $(this).html();
        if (sitename == menuname) {
            $(this).addClass("hover");
        }
    });
});

$(document).ready(function (e) {
    var nowname = $('.bt_text_y span a:eq(2)').html();
    $("#fontred a").each(function () {
        var menuname = $(this).html();
        if (nowname == menuname) {
            $(this).addClass("font_red");
        }
    });
})</script>
<script type="text/javascript" src="js/pt_js.js"></script>
<div class="sidebar_qq">
    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=2293193045&amp;site=qq&amp;menu=yes" target="_blank">
        <img alt="" src="{{$smarty.const.STATIC}}/index/picture/qq.png"></a>
</div>
</body>
</html>