<!--底部-->
<div class="bot">
    <div class="w1100">
        {{if isset($link)}}
        <div class="friend">友情链接：
            {{foreach $link as $v}}
                <a href="{{$v.url}}" title="{{$v.title}}" target="{{if $v.target eq "1"}}_blank{{else}}_self{{/if}}">{{$v.title}}</a>
            {{/foreach}}
        </div>
        {{/if}}
        <div class="bot_nav">
            {{foreach $mainmenu2 as $v}}
            {{if $v.linktype eq "0"}}<a href="{{url path='index/page/index' params=['id'=>$v.linkid]}}">{{/if}}
            {{if $v.linktype eq "1"}}<a href="{{url path='index/pcategory/index' params=['id'=>$v.linkid]}}">{{/if}}
            {{if $v.linktype eq "2"}}<a href="{{url path='index/acategory/index' params=['id'=>$v.linkid]}}">{{/if}}
            {{if $v.linktype eq "3"}}<a href="{{url path='index/cases/index' params=['id'=>$v.linkid]}}">{{/if}}
            {{if $v.linktype eq "4"}}<a href="{{$v.linkid}}">{{/if}}
            {{$v.title}}</a>
            {{/foreach}}
        </div>
        <div class="bot2 clearfix">
            <div class="logo fl">
                <a href="{{url path='index/index/index'}}">
                    <img alt="" src="{{$ads.logo[0].image.img_url}}"/></a>
            </div>
            <div class="tact fl">
                <p>{{$footer.copyright}}&nbsp;&nbsp;&nbsp;&nbsp;{{$footer.beianhao}}</p>
                <p>{{$footer.footercontact}}</p>
                <p>{{$footer.footertext}}</p>
            </div>
            <div class="ewm fr">
                <img src="{{$ads.footer_img[0].image.img_url}}" width="114" height="112"/>
                <p>
                    <span style="display:none;"></span></p>
            </div>
        </div>
    </div>
</div>
<!--幻灯片事件绑定-->
<script type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/jquery.banner.js"></script>
<script type="text/javascript">
$(function () {
    $(".banner").swBanner();
});
</script>
<!--走马灯-->
<script type="text/javascript" src="{{$smarty.const.STATIC}}/index/js/jquery.scrollshow.js"></script>
<script type=text/javascript>
jQuery(document).ready(function () {
    jQuery("#h_customer_slide").scrollShow("right", {
        step: 1,
        time: 5000
    }); //滚动图片数和间隔时间
});
</script>
<!--在客服悬浮-->
<div class="sidebar_qq">
<a href="{{$footer.floatservicelink}}" target="_blank"><img alt="在线客服" src="{{$ads.float_service[0].image.img_url}}"></a>
</div>
</body>
</html>