<div class="top">
    <div class="top1">
        <div class="w1100 clearfix">
            <div class="hyy fl">{{$header.headerwelcome}}</div>
            <div class="dt fr">
                <a href="{{$header.headermenulink1}}">{{$header.headermenutitle1}}</a>
                <span>/</span>
                <a href="{{$header.headermenulink2}}">{{$header.headermenutitle2}}</a>
                <span>/</span>
                <a href="{{$header.headermenulink3}}">{{$header.headermenutitle3}}</a>
            </div>
        </div>
    </div>
    <div class="top2 w1100 clearfix">
        <div class="logo fl">
            <a href="{{url path='index'}}">
                <img src="{{$ads.logo[0].image.img_url}}" width="150" height="100" alt="鹤川泵业（上海）有限公司" title="鹤川泵业（上海）有限公司" /></a>
        </div>
        <div class="name fl">
            <h1>{{$header.sitename}}</h1>
            <h2>{{$header.sitesubtitle}}</h2></div>
        <div class="tact fr"><div style="color: #ff8a00;font-size: 20px;overflow:hidden;padding-top: 60px;padding-left: 65px;"><strong>400-086-9986</strong></div></div>
    </div>
    <div class="nav">
        <ul class="w1100 clearfix">
            {{foreach $mainmenu as $v}}
            <li id="navId1">
                {{if $v.linktype eq "0"}}<a href="{{url path='index/page/index' params=['id'=>$v.linkid]}}">{{/if}}
                {{if $v.linktype eq "1"}}<a href="{{url path='index/pcategory/index' params=['id'=>$v.linkid]}}">{{/if}}
                {{if $v.linktype eq "2"}}<a href="{{url path='index/acategory/index' params=['id'=>$v.linkid]}}">{{/if}}
                {{if $v.linktype eq "3"}}<a href="{{url path='index/cases/index' params=['id'=>$v.linkid]}}">{{/if}}
                {{if $v.linktype eq "4"}}<a href="{{$v.linkid}}">{{/if}}
            {{$v.title}}</a></li>
            {{/foreach}}
        </ul>
    </div>
    <!--banner start-->
    <div class="banner">
        <ul class="banList">
            {{foreach $ads.sliderbox as $k=>$v}}
            <li class="active">
                <a href="{{$v.target_url}}"><img src="{{$v.image.img_url}}" /></a>
            </li>
            {{/foreach}}
        </ul>
        <div class="fomW">
            <div class="jsNav">
                <a href="javascript:;" class="trigger current"></a>
                <a href="javascript:;" class="trigger"></a>
                <a href="javascript:;" class="trigger"></a>
            </div>
        </div>
    </div>
    <!--banner end-->
</div>